* {
    max-width: 100%;
    box-sizing: border-box;
    background-color: rgb(9, 1, 25);
}

html,
body {
    max-width: 100%;
    overflow-x: clip;
    margin: 0;
    padding: 0;
}

h1,p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 20px;
    background-color: #2aa39f;

}

.TopBar {
    background-color: #2aa39f;
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px;    
    padding: 15px;
    color: rgb(16, 16, 36);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: sticky;
    top: 0;
    z-index: 100;
}